.container {
    display: block;
    clear: both;
}

.caption {
    font-size: 10px;
    line-height: 0.0;
    clear: both;
}

#header {
    position: absolute;
    top: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 0.5;
    text-align: center;
    z-index: 0;
    font-family: "Gill Sans", sans-serif;
}

.white-back {
    background-color: rgba(255, 255, 255, 0.7);
    /*background-color: white;*/
    padding: 3px;
}

.render {
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
}

.scene {
    margin: 0;
    padding: 0;
    line-height: 0.0;
}

.element {
    font-size: 11px;
    padding: 4px;
    font-family:monospace;
    border: 1px solid black;
}

.control {
    display: flex;
    color: #ffffc0;
    border: 1x solid black;
    justify-content: space-evenly;
    background-color: #303030;
}

.center {
    text-align: center;
}

.selectDrag {
    color: #ff80ff;
    font-weight: bold;
}
.selectSelect {
    color: #c0c0ff;
    font-weight: normal;
}
.selectDelete {
    color: #f03030;
    font-weight: bold;
}
.selectInsert {
    color: #339e51;
    font-weight: bold;
}

#canvas3d {
    cursor: crosshair;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    height: 100%;
}

#moleculeName {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
#alternateName {
    font-size: 10px;
}
#insertName {
    font-weight: bold;
    color: #ffffff;
}

.canvas2d {
    border: 1px solid white;
    background-color: black;
}

button {
    font-size: 12px;
    background-color: #707080;
    font-weight: bold;
    color: #ffffc0;
}

.buttonBig {
    font-size: 13px;
}

a {
    color: #a0a0ff;
}

h3 {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
}

legend {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

fieldset {
    padding: 5px;
    margin: 0px;
    border: 1px solid #ffffc0;
    
}

table {
    width: 100%;
    cellspacing: 0px;
    cellpadding: 0px;
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid white;
    padding: 2px;
    margin: 0px;
    font-weight: normal;
}

td {
    text-align: right;
    border: 1px solid white;
    padding: 2px;
    margin: 0px;
}

.status {
    font-size: 11px;
    font-family:monospace;
}

#buttonPlay {
    font-size: 16px;
    min-width: 48px;
    min-height: 48px;
}


/* landscape */
@media (min-aspect-ratio: 6 / 5) {
    .control {
	margin-left: 10px;
	max-width: 280px;
	flex-direction: column;
    }

    .render {
	width: 90vh;
	height: 90vh;
	display: inline;
    }

    th {
	width: 120px;
    }
}

/* portrait for phone */
@media (max-aspect-ratio: 6 / 5) and (max-width: 400px) {
    .control {
	margin-top: 10px;
	width: 90vw;
	flex-direction: row;
	flex-wrap: wrap;
    }

    .render {
	width: 90vw;
	height: 90vw;
	display: block;
    }

    .element {
        min-width: 120px;
        max-width: 160px;
    }

    #header {
	font-size: 14px;
    }

}
/* portrait for larger displays */
@media (max-aspect-ratio: 6 / 5) and (min-width: 400px) {
    .control {
	margin-top: 10px;
	width: 90vw;
	flex-direction: row;
	flex-wrap: wrap;
    }

    .render {
	width: 90vw;
	height: 90vw;
	display: block;
    }

    .element {
        min-width: 160px;
        max-width: 220px;
    }

}
